@charset 'UTF-8';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(to bottom, #bdd8e1, #424746);
}

.calculator-container {
    background: #181818;
    padding: 24px 12px 12px;
    border-radius: 6px;
    box-shadow: 1px 1px 20px #534e4e;
}

.screen-display {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    background: #fff;
    font-size: 25px;
    height: 60px;
    margin: 0 6px;
    padding-right: 6px;
    box-shadow: inset 1px 1px 5px 1px #555151;
}

.calculator-buttons {
    border-spacing: 6px;
}

td {
    width: 59px;
    height: 56px;
    text-align: center;
    background: #3d3939;
    color: #fff;
    font-weight: 700;
    font-size: 20px;
    cursor: pointer;
    border-radius: 5px;
    box-shadow: 3px 4px 3px #000000a3;
}
/*
td:hover {
    background: rgba(255, 255, 255, 0.15);
}
*/
td:active, td:focus {
    background: rgba(255, 255, 255, 0.15);
}

td:active:focus {
    background: #3d3939;
}

.equal {
    background: #c78101;
}

.upEqual {
    background: #555151;
}

@media screen and (min-width: 769px) {
    td:hover {
        background: rgba(255, 255, 255, 0.08);
    }
}